Source: couchdb-fractalsql
Section: database
Priority: optional
Maintainer: FractalSQLabs <ops@fractalsqlabs.io>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/FractalSQLabs/couchdb-fractalsql

Package: fractalsql-couch
Architecture: amd64 arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Recommends:
 couchdb
Description: FractalSQL external query server for Apache CouchDB
 fractalsql-couch is a CouchDB External Query Server that speaks the
 JSON-over-stdio protocol and embeds the FractalSQL Stochastic Fractal
 Search engine via LuaJIT. It registers as a query_server language
 ("fractalsql") so design documents can declare map functions in Lua
 with access to the FractalSQL SFS/dFDB optimizer.
 .
 LuaJIT and cJSON are statically linked into the binary; no external
 LuaJIT runtime is required at deployment time. See
 /usr/share/doc/fractalsql-couch/README_COUCH.txt for the local.ini
 snippet needed to register the query server with CouchDB.
